.container{
    background-color: hsl(212, 45%, 89%);
    width: 80rem;
    height: 35rem;
    margin: auto;
    position: relative;
    top: 2rem;
}
.blog{
    background-color: white;
    width: 15rem;
    height: 25rem;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 4rem;
    
}
h1 , p{
    font-size: 15px;
    text-align: center;
    border: 10px;
}
img{
    border-radius: 15px;
}

